.header-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-pictures__picture {
    max-width: 100%;
    width: 100%;
}

.header-nav-text{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;



}


nav{
    grid-row: 1;
    grid-column: 3;
    display: flex;
    gap: 2em;
    align-items: center;
    font-size: 20px;

}



